body{
    margin: 0;
}
.header{
    height: 100vh;
    width: 100vw;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #051c2d;
    height: 60px;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
}
.nav li{
    list-style: none;
    margin: 8px 20px 8px 30px;
    
}
.nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}
.nav li a:hover{
    text-decoration: underline;
}
.nbaLogo{
    padding: 3px;
    padding-right: 25px;
}
.nbaLogo img{
    width: 70px;
}
.slider{
    flex: 1;
    overflow: hidden;
}
.carroulsel{
    height: calc(100vh - 60px);
    display: flex;
    transition: all ease 0.4s;
}
.item{
    display: flex;
    height: inherit;
    width: 100vw;
}
.item__img{
    width: 100vw;
    height: inherit;
    
}
.buttons{
    position: absolute;
    width: 96vw;
    left: 2%;
    top: 50%;
    display: flex;
    justify-content: space-between;
}
.botao{
    width: 70px;
    height: 70px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
}
.botao:hover{
    background: linear-gradient(#051c2d, #1d428a);
    color: #fff;
}
.spanSlider{
    position: absolute;
    top: 53%;
    left: 30%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    color: #ccc;
    text-shadow: 1px 2px #000;
}
.none{
    display: none;
}
.barras{
    position: absolute;
    max-width: 2560px;
    min-width: 800px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
}
.bar{
    display: block;
    width: 100px;
    height: 4px;
    background-color: transparent;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0 8px;
}
.active{
    background-color: #fff;
    border: 2px solid #ccc;
}